.descriptionContainer h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
    font-weight: 500;
  }
  
  .descriptionContainer p {
    margin: 0.5em 0;
    font-size: 15px;
    color: #313638;

  }
  
  .descriptionContainer ul {
    padding-left: 1em;
    margin: 0.5em 0;
    list-style-type: disc;
    font-size: 15px;
  }
  